<div class="profile-page">
  <div class="profile-page-header container-fluid">
    <div class="profile-picture"></div>

    <div class="name-and-friend-button">
      <h2 class="user-name"><%= @user.first_name %> <%= @user.last_name %></h2>

      <div class="add-friend-button">
        <%= render partial: 'add_friend_button', locals: { user: @user }%>
      </div>
    </div>

    <div>
      <%= link_to "#{pluralize(@user.friends.count, 'friend')}" , friendship_path, class: "friend-number"%>
    </div>
  </div>
  <div class="profile-page-posts container-fluid bg-light">
  </div>
</div>