/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";

* {
  box-sizing: border-box;
}

.log-in-box {
  width: 40vw;
  background-color: $gray-400;
  border-radius: 10px;
  margin-top: 100px;
}

.sign-up-box {
  width: 40vw;
  background-color: $gray-400;
  margin-top: 100px;
  border-radius: 10px;
}

.profile-page-header {
  padding: 50px;
  border-bottom: solid;
  border-bottom-color: black;
}

.profile-picture {
  height: 150px;
  width: 150px;
  border-style: solid;
  border-color: black;
  margin-bottom: 25px;
}

.name-and-friend-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-name {
  margin-right: 25px;
}

.friend-number {
  text-decoration: none;
  color: $gray-600;
}

.friends-list {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.friends-list-heading {
  align-self: center;
}

.friends-list-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend-box{
  background-color: $gray-300;
  border-radius: 15px;
  padding: 10px;
  width: 40vw;
  margin-bottom: 10px;
}

.friends-list-friend {
  text-decoration: none;
  color: black;
}

.friend-requests-page {
  display: flex;
  flex-direction: column;
}

.friend-requests-heading {
  align-self: center;
}

.requests-list {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-bottom: 10px;
}

.friend-request-button-toggle {
  background-color: $gray-400;
  color: black;
  border-style: none;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 40vw;
  text-align: left;
  padding: 10px;
  align-self: center;
}

.requests-content {
  border-style: solid;
  border-color: $gray-400;
  border-top-style: none;
  width: 40vw;
  align-self: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.friend-request-list {
  padding: 0px;
}

.friend-request-name {
  text-decoration: none;
  color: $gray-700;
}

.friend-request-name:hover {
  color: $gray-600;
}

.friends-in-list {
  list-style-type: none;
  margin: 0px;
  border-top-style: solid;
  border-color: $gray-400;
  padding: 10px;
}

.no-friend-request-message {
  padding: 10px;
}

.friend-request-button-toggle:hover {
  background-color: $gray-500;
}

.all-users-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-users-list {
  list-style-type: none;
}

.all-users-list-name {
  text-decoration: none;
  list-style-type: none;
  color: $gray-700;
}

.all-users-list-name:hover {
  color: $gray-600;
}

.all-users-box {
  background-color: $gray-400;
  border-radius: 5px;
  width: 40vw;
  display: flex;
  justify-content:space-between;
  padding: 10px;
}

.all-users-list-buttons {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-bottom: 3px;
}

.notifications-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notifications-heading {
  text-align: center;
}

.notification-link {
  text-decoration: none;
  color: black;
}

.notification-link:hover {
  color: $gray-600;
}

.notifications-box {
  background-color: $gray-400;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  width: 40vw;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.post-create-box {
  width: 40vw;
  background-color: $gray-400;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.post-list {
  padding: 0px;
}

.post-box {
  list-style-type: none;
  background-color: $gray-400;
  border-radius: 10px;
  width: 40vw;
  margin: 10px;
  padding: 10px;
}

.post-author {
  margin: 0;
  padding: 5px;
}

.post-content {
  padding: 10px;
  background-color: white;
  margin: 0;
  border-radius: 10px;
}

.profile-page-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-toggle {
  border-style: none;
  margin-top: 10px;
  margin-bottom: 3px;
  border-radius: 5px;
}

.comment-list {
  list-style-type: none;
}

.comment-content {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.post-features {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.like-button {
  border-style: none;
  color: red;
  border-radius: 5px;
  margin-top: 10px;
}

@media only screen and (max-width: 700px) {
  .log-in-box {
    width: 80vw;
  }

  .sign-up-box {
    width: 80vw;
  }

  .profile-page-header {
    padding: 10px;
    border-bottom: solid;
    border-bottom-color: black;
  }
  .profile-picture {
    height: 75px;
    width: 75px;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
  }

  .friends-list {
    padding: 0;
  }

  .friends-list-heading {
    margin-top: 10px;
  }

  .friend-box {
    margin: 0;
    margin-bottom: 5px;
    width: 80vw;
  }

  .friends-list-list {
    padding: 0px;
    margin: 10px;
  }

  .all-users-list {
    margin: 0px;
    padding: 0px;
  }

  .all-users-box {
    margin-bottom: 10px;
    width: 80vw;
  }

  .requests-list {
    width: 80vw;
  }

  .friend-request-button-toggle {
    width: 80vw;
  }

  .requests-content {
    width: 80vw;
  }

  .notifications-box {
    width: 80vw;
  }

  .post-create-box {
    width: 80vw;
  }

  .post-box {
    width: 80vw;
  }
}
